*         @b3sa/g_p_apl_alm_squad_0098_github

# Protege pipelines do Ultron
.github/  @b3sa/g_p_apl_alm_squad_0032_github @b3sa/g_p_apl_alm_squad_0022_github @b3sa/g_p_apl_alm_squad_0023_github @b3sa/g_p_apl_alm_squad_0024_github

# Governança de Banco de Dados
ad/*.sql  @b3sa/g_p_apl_alm_squad_0140_github